body{
  margin: 0;
}

h1{
  color: #ffff;
  font-family: 'Bellefair', serif;
  font-size: 150px;
  font-weight: normal;
}

h2{
  color: #ffff;
  font-family: 'Bellefair', serif;
  font-size: 100px;
  font-weight: normal;
}

h3{
  color: #ffff;
  font-family: 'Bellefair', serif;
  font-size: 56px;
  font-weight: normal;
}

h4{
  color: #ffff;
  font-family: 'Bellefair', serif;
  font-size: 32px;
  font-weight: normal;
}

h5{
  color: #D0D6F9;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 28px;
  font-weight: normal;
  letter-spacing: 4.75px;
}

hr{
  width: 30rem;
}

p{
  color: #D0D6F9;
  font-family: sans-serif;
  font-weight: normal;
  letter-spacing: .5px;
  line-height: 2;
  width: 28%;
}

a{
  color: #ffff;
  font-family: 'Barlow Condensed', sans-serif;
  text-decoration: none;
}

.subheading1{
  color: #ffff;
  font-family: 'Bellefair', sans-serif;
  font-size: 28px;
}

.subheading2{
  color: #ffff;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 14px;
  letter-spacing: 2.35px;
}

.nav-box{
  height: 5rem;
  width: 60rem;
  background-color: #ffff;
  background-color: rgba(225,225,225,.2);
  position: absolute;
  top: 2.26rem;
  right: 0;
  filter: blur(2px);
}

.nav-bar{
  position: relative;
  top: 2rem;
  left: 16rem;
  height: 80px;
  z-index: 2;
}

.nav-text{
  color: #ffff;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 16px;
  letter-spacing: 2.7px;
  padding: 0 26px;
}

.nav-underline{
  height: 2px;
  width: 100%;
  position: relative;
  top: 30px;
  background-color: #ffff;
  background-color: rgba(255,255,255,.5);
}


.nav-text .nav-underline {
  display: none;
}

.nav-text:hover .nav-underline {
  display: block;
}

.nav-text:active .nav-underline{
  display: block;
  background-color: #ffff;
  background-color: rgba(255, 255, 255, 1);
}

.logo{
  position: relative;
  left: 5rem;
  top: 2rem;
}

.hrdecor{
  border-color: #ffff;
  border-color: rgba(225,225,225,.3);
  position: relative;
  top: 2.1rem;
  left: 9.5rem;
  width: 36rem;
}

.explore-circle{
  height: 17rem;
  width: 17rem;
  border-radius: 50%;
  background-color: #ffff;
  float: right;
  position: relative;
  top: 29rem;
  right: 18rem;
  text-align: center;
  z-index: auto;
}

.expl-h{
  height: 28rem;
  width: 28rem;
  border-radius: 50%;
  background-color: #ffff;
  background-color: rgba(255, 255, 255, .4);
  position: absolute;
  top: -5.6rem;
  right: -5.6rem;
  z-index: -2;
}

.explore-circle .expl-h {
  display: none;
}

.explore-circle:hover .expl-h {
  display: inline;
}

.explore-text{
z-index: 2;
color: black;
margin-top: 7.2rem;
}

.moon{
  position: absolute;
}

.dnav{
  padding: 0 1rem;
}
